.contact-page {
    width: 1920px;
    height: 1080px;
    background-image: none;
    background-color: #290d77;
    h1 {
        @include h1;
        position: relative;
        margin: 0 auto;
        right: 10%;
        padding-top: 70px;
    }
    background-image: url(/assets/contact-pic.png);
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: -500px;
}

.contact-wrapper {
    width: 1920px;
    width: 1080px;
}

.contact-pic {
    max-width: 400px;
    width: 100%;
    position: relative;
    right: 860px;
    bottom: 705px;
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.contact-form {
    opacity: 0;
    transition: opacity 2s linear;
    background-color: transparent;
}

.contact-form.active {
    opacity: 1;
    transition: 0.5 ease-in;
}

input[type=text] {
  width: 300px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
  right: 100px;
  position: relative;
  padding-top: 100px;

}


textarea[type=text] {
  width: 500px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 30px;
  color: white;
  margin-top: 50px;
  padding-top: 160px;

}


.send-button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    text-decoration-style: none;
    position: relative;
    left: 250px;
    top: 45px;
    background-color: transparent;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contact-icons {

    background-color: transparent;
    background: none;
    position: relative;
    width: 58px;
    animation: 5s ease-in-out 0s 1 slideInFromLeft;
    left: 1450px;
    bottom: 400px;

    li {

    list-style: none;

    background-color: transparent;
    background: none;

    i {
        color: white;
        margin: 35px 0;
        background-color: transparent;
            background: none;
    }
}
}

.upload-file {
    padding-top: 25px;
    position: relative;
    right: 100px;
    background-color: transparent;
    color: white;
}

.recaptcha {
    position: relative;
    padding-top: 20px;
    right: 100px;
    background-color: transparent;

}