.projects-page {
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    background-image: none;
        h1 {
        @include h1;
        position: absolute;
        z-index: 1;
        left: 150px;
        bottom: 850px
    }
}
.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-width: 1920px;
    height: 1080px;
    width: 100%;
    .skills-used {
        display: flex;
    width: 400px;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    background-color: transparent;
    font-size: 45px;
    color: white;
    height: 250px;
        li {
            text-align: center;
            margin: 0 auto;
                background-color: transparent;
        }
        span {
                        font-size: 13px;
            width: 80px;
            margin: 0 auto;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
                background-color: transparent;
        }
        i {
                background-color: transparent;
        }
    }


}

.carousel-images {
    display: flex;
    transform: translateX(0);
    transition: transform 1s;
}

.carousel-images img {
    border-radius: 5px;

}

.button-previous,
.button-next {
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    height: 3rem;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
        background-color: transparent;
}

.button-previous {
    left: 155px;
}

.button-next {

    right: 155px;
}

.button-next:hover,
.button-previous:hover {
    opacity: 0.75;
    width: 3.5rem;
    height: 3.5rem;
    transition: width 0.25s;
    transition: height 0.25s;
    position: absolute;
}

.project-1, .project-2, .project-3, .project-4, .project-5 {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    justify-content: center;
        h2 {
        color: white;
        position: relative;
        // bottom: 120px;
        // right: 1200px;
        font-size: 35px;
        background-color: transparent;
        margin: 0 auto;
        font-weight: bold;
        top: 30px;
    }
        h3 {
            color: white;
            position: relative;
            font-size: 15px;
            background-color: transparent;
            margin: 0 auto;
            padding-top: 10px;
            width: 450px;
            line-height: 25px;
            text-align: center;
            top: 30px;
        }
    a {
        margin: 0 auto;
        transition: transform .5s;
        color: white;
    }

    a:hover{
        transform: scale(1.03);
    }
    img {
        width: 800px;
        margin: 0 auto;
        margin: 70px;
    }
}


    .project-2 {
        background-color: #50389d;
    }

    .project-3 {
        background-color: #3b1d9e;
    }
    
    .project-4 {
        background-color: #9ed6e5;
        h2, h3, a, i, span, li {
            color: black;
        }
        .live-repo-links {
            li a {
                color: black;
            }
        }
    }

    .project-5 {
        background-color: #790868;
    }

     .project-6 {
         width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    h2 {
        color: white;
        margin:0 auto;
    }
     }


.live-repo-links {
    background-color: transparent;
    ul {
        display: flex;
        background-color: transparent;
        justify-content: center;
        justify-content: space-evenly;
        width: 250px;
        margin: 100px auto;
    }
    li {
        list-style-type: none;
        color: white;
        background-color: transparent;
        a {
            background-color: transparent;
            color: white;
        }
    }
}