.skills-page {
    width: 1920px;
    height: 1080px;
    background-color: black;
    background-image: url(/assets/skills-background.png);
    background-repeat: no-repeat;
    background-position-x: 1450px;
    background-position-y: 0px;
    background-size: contain;
    h1 {
        @include h1;
        position: relative;
        margin: 0 auto;
        padding-top: 300px;
        right: 10%;
    }

    .skills-background {
        position: relative;
        bottom: 700px;
        left: 1450px;
        width: 1000px;
        height: 1200px;

    }

    .scroll-headers {
                opacity: 0;
        transition: opacity 2s linear;
    }
    .scroll-headers.active {
        opacity: 1;
            transition: 0.5 ease-in;
    }
}

.skills {
        background-color: transparent;

}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    background-color: transparent;
    list-style: none;
    margin: 0 auto;
    font-size: 65px;
    color: white;
    opacity: 0;
    transition: opacity 2s linear;
    height: 250px;
    li {
        margin: 15px 30px;
        text-align: center;

            background-color: transparent;;
        i {
                background-color: transparent;
                // justify-content: center;
                // align-items: center;
                // margin: 0 auto;
        }
            span {
            font-size: 15px;
            width: 80px;
            margin: 0 auto;
            display: flex;
            background-color: transparent;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
}

.skills-list.active {
        opacity: 1;
    transition: 0.5 ease-in;

}