@import 'setup';
@import 'variables';



// 4k and 1440p screens
@media (min-width: 2560px) {

    // header page
    .wrapper {
    width: 3840px;
    max-width: 100%;
    height: 2160px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    header {
        h1 {
            position: relative;
            left: 600px;
        }
        h2 {
            left: 600px;
            width: 500px;
        }

        h3 {
            position: relative;
            left: 600px;
        }
        i {
            position: relative;
            left: 500px;
        }

        .content-list-home {
            left: 15%;
        }
    }

    
// about page
    .about-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        .about-box {
            margin: 0 auto;
            padding-top: 300px;
            lefT: 250px;
        }
    }




// skills page
    .skills-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-position-x: 3000px;
    }

    .skills-list {
        padding-top: 500px;
    }



// projects page
    .projects-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-image: none;

        h1 {
            bottom: 1600px;
            left: 500px;
        }
        
        .carousel {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        }
        .project-1, .project-2, .project-3, .project-4, .project-5 {
        width: 3840px;
        height: 2160px;
        }
    }


// contact page
    .contact-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        background-size: 28%;
    }


// footer page
    .footer-wrapper {
        max-width: 3840px;
        width: 100%;
        height: 1080px;
    }
}



// 
@media (max-width: 1281px) {

    // header page
    .wrapper {
    width: 1280px;
    max-width: 100%;
    height: 720px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    header {
        i {
            position: relative;
            right: 50px;
            top: 100px;
            font-size: 15px;
        }

        h1 {
            font-size: 55px;
        }
        
        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 15px;
        }

        .content-list-home {
            bottom: 250px;
            left: 0%;
        }
    }

    // header {
    //     h1 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     h2 {
    //         left: 600px;
    //         width: 500px;
    //     }

    //     h3 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     i {
    //         position: relative;
    //         left: 500px;
    //     }
    // }

    h3 {
        position: relative;
        bottom: 50px;
    }

    
// about page
    .about-page {
        max-width: 1280px;
        width: 100%;
        height: 720px;

        h1 {
            font-size: 55px;
        }
        p {
            font-size: 15px;
            width: 700px;
            margin:0 auto;
            padding-top: 50px;
        }
        .about-box {
            margin: 0 auto;
            lefT: 0px;
            padding-top: 0px;
            .about-pic {
                width: 300px;
                position: relative;
                right: 50px;
                opacity: 1;
            }
        }
        .scroll-headers {
            
        }
        .scroll-headers.active {
            animation: none;
        }
    }




// skills page
    .skills-page {
    max-width: 1280px;
    width: 100%;
    height: 920px;

        h1 {
            font-size: 55px;
        }
    }

    .skills-list {
        img {
            width:400px;
            height: 300px;
        }
    }



// projects page
    .projects-page {
    max-width: 1280px;
    width: 100%;
    height: 720px;
    background-image: none;

        h1 {
            bottom: 550px;
            right: 180px;
            font-size: 45px;
        }

        h2 {
            top: 0px;
            font-size: 25px;
            padding-top: 200px;
        }
        h3 {
            top: 0px;
            font-size: 10px;
        }
        
        .carousel {
        max-width: 1280px;
        width: 100%;
        height: 720px;
        }

        .button-previous, .button-next {
            top: 400px;
        }
        .carousel-images {
            position: relative;
            bottom: 160px;
        }
        .project-1, .project-2, .project-3, .project-4, .project-5 {
        padding-top: 350px;
        width: 1280px;
        height: 1220px;
        position: relative;
            img {
                width: 450px;
                height: 300px;
            }
        }
        .skills-used {
            position: relative;
            bottom: 40px;
            i {
                font-size: 35px;
            }
        }

        .live-repo-links {
            position: relative;
            bottom: 100px;
        }
    }


// contact page
    .contact-page {
        max-width: 1280px;
        width: 100%;
        height: 720px;
        background-size: 15%;

        h1 {
            font-size: 55px;
        }

        .contact-wrapper {
            width: 1280px;
            height: 720px;
        }

        input[type=text] {
            font-size: 15px;
        }

        textarea[type=text] {
            font-size: 15px;
            margin-top: -30px;
        }

        .send-button {
            top: 0px;
        }

        .upload-file {
            font-size: 10px;
            right: 150px;
        }
    }


// footer page
    .footer-wrapper {
        max-width: 1280px;
        width: 100%;
        height: 520px;
    }
}




// tablet
@media (max-width: 780px) {
    .wrapper {
    width: 780px;
    max-width: 100%;
    height: 1024px;
    margin: 0 auto;
    padding: 15% 120px;
    }
    @-webkit-keyframes slideInFromRight {
  0% {
    background-position-x: 1800px;
        opacity: 0;
  }
  100% {
    background-position-x: -500px;
        opacity: 1;
  }
}


    header {
        h1 {
            font-size: 35px;
            padding-bottom: 10px;
            // width: 600px;
        }
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 15px;
        }
        background-position-y: 100px;
        background-position-x: -500px;
        background-size: cover;
        .content-list-home {
            left: -60px;
        }
    }

     .about-page {
    width: 780px;
        width: 100%;
        height: 1024px;
        animation: none;
        
        .scroll-headers.active {
            transform: none;
        }

        .scroll-headers {
            transform: none;
            transition: none;
        }
        h1 {
            font-size: 20px;
            right: 0px;
            padding-top: 50px;
            width: 150px;
        }
        p {
            font-size: 12px;
            padding-top: 27px;
            padding: 15px;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            text-align: center;
        }
        .about-box {
            padding-top: 0px;
            display: inline-block;
            margin: 0 auto;
            animation: none;
            opacity: 1;
            flex-direction: column;
            width: auto;
            left: 20px;
            right: 0px;
            justify-content: center;
            .about-pic {
                width: 400px;
                margin: 0 auto;
                left: 150px;
            }

            .scroll-headers {
                display: inline-block;

            }
        }
    }
    .skills-page {
    width: 780px;
    width: 100%;
    height: 1024px;
    h1 {
        font-size: 25px;
        right: 0px;
        margin: 10px 50px;
    }

    i {
        // font-size: 25px;
    }
    }

    .skills-list {
        opacity: 1;
        width: 350px;
        padding: 25px;
        li {
            i {
                font-size: 45px;
            }
            margin: 0 auto;
            padding: 10px;
            span {
                font-size: 15px;
            }
        }
    }

// projects page
    .projects-page {
    width: 780px;
    width: 100%;
    height: 1024px;
    background-image: none;
    h1 {
        font-size: 20px;
        left: 15px;
        bottom: 950px;
    }
            h2 {
            font-size: 25px;
            top: 60px;
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            font-size: 10px;
            position: relative;
            top: 50px;
            font-weight: normal;
            width: 200px;
            left: 0px;

        }

        // h1 {
        //     bottom: 1600px;
        //     left: 500px;
        // }
        
        .carousel {
    width: 780px;
        width: 100%;
        height: 1024px;
        }

        .carousel-images {
    width: 780px;
        }
        // .skills-used {
        //     display: flex;
        //     flex-direction: row;
        //     width: 150px;
        //     span {
        //         font-size: 10px;
        //         padding: 0px;
        //     }
        // }

        .live-repo-links {
            bottom: 120px;
        }
        .project-1, .project-2, .project-3, .project-4, .project-5 {
    width: 780px;
        height: 1324px;
        ul {
            position: relative;
            right: 20px;
            width: 200px;
            li {
                padding: 0px;
            }
        }
        i {
            font-size: 20px;
        }

        a {
    width: 780px;
        }

        img {
            width: 550px;
            height: 400px;
            position: relative;
            right: -15px;
            left: 45px;
        }

        }
                .button-previous {
            left: 1px;
            top: 500px;
        }
            .button-next {
                right: 1px;
                top: 500px;
            }

    }

    .contact-page {
        h1 {
            font-size: 25px;
            left: 150px;
        }
    }

    .footer-wrapper {
        width: 780px;
        height: 700px;
    }
}




@media (max-width: 500px) {
    .wrapper {
        height: 125vh;
        max-width: 100%;
    }
    header {
        height: 125vh;
        max-width: 100%;
        h1 {
            font-size: 15px;
            width: 250px;
            position: relative;
            right: 70px;
        }
        h2 {
            width: 200px;
            font-size:10px;
            position: relative;
            padding-top: 50px;
            right: 70px;
        }
        h3 {
            font-size: 10px;
            width: 200px;
            position: relative;
            right: 70px;
        }
        .social-icons {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            bottom: 380px;
            width: 100%;
            height: 300px;
            position: relative;
            right: -50px;
            left: -90px;
            justify-content: center;
            li {
                padding: -20px;
                i {
                    font-size: 10px;
                    padding: 0px;
                }
            }
        }

        .content-list-home {
            bottom: 330px;
            width: 200px;
            left: -120px;
            ul li {
                margin: 0px 10px;
            }
            a {
                font-size: 10px;
            }
        }
    }


    .about-page {
        height: 125vh;

        h1 {
            left: 0px;
            right: 0px;
            width: auto;
            text-align: center;
            padding-bottom: 45px;
        }
        .about-box {
            left: 0px;
            width: 100%;
            p {
                width: auto;
                line-height: 20px;
                padding: 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: normal;
            }
            .about-pic {
            width: 100%;
            max-width: 180px;
            left: 0px;
            right: 0px;
            box-shadow: #2b1b4d 8px 8px;
            margin: auto;
                            display: flex;
                justify-content: center;
            img {

            }
            }
        }


    }

    .skills-page {
        height: 135vh;
            background-color: #390b9c;
        .skills-list {
            width: 100%;
            max-width: 320px;
            i {
                font-size: 30px;
            }

            span {
                font-size: 10px;
            }
        }
        h1 {
            padding-top: 10px;
            width: 200px;
        }
    }

    .projects-page {
        height: 100vh;


        .carousel {
            height: 100vh;

            .skills-used {
                display: flex;
                flex-wrap: wrap;
                width: 600px;
                bottom: 50px;
                padding-top: 50px;
            }
        }

        .carousel-images {
            height: 100vh;
            max-width: 100%;

        }

        .button-previous, .button-next {
            top: 100px;
        }

        .project-1, .project-2, .project-3, .project-4, .project-5 {
            max-width: 100%;
            h2 {
                top: 0px;
                padding-top: 30px;
                font-size: 20px;

            }
            h3 {
                top: 10px;
                font-size: 10px;
                line-height: 10px;
                padding-bottom: 50px;
                font-family: 'Roboto', sans-serif;
            }
            img {
            max-width: 100%;
            width: 100%;
            height: 100%;
                right: 0px;
                left: 0px;
                margin: 0px;
            }

            ul {
                width: 350px;
            }
            height: 128vh;

            a {
                max-width: 100%;
                width: 400px;
            }
        
        }
        .skills-used {

            max-width: 100%;
            
            li {
                max-width: 100%;
                margin: 10px -5px;
  

            }
            span {
                    font-size: 8px;
                }
        }


        .live-repo-links {
            max-width: 100%;
            width: auto;
            bottom: 120px;
            ul li{
                display: flex;
                flex-direction: row;
                width: 50px;
                justify-content: center;
            }
            a {
                font-size: 10px;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }

    .contact-page {
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contact-wrapper {
            max-width: 100%;
        }

        h1 {
            position: relative;
            right: 0%;
            left: 0%;
            width: 200px;
            padding-top: 0px;
        }

        input[type=text] {
            right: 0px;
            width: 200px;
        }

        textarea[type=text] {
            width: 250px;
            right: 0px;
        }
    }

    .send-button {
        left: 80px;
    }

    .upload-file {
        position: relative;
        left: 0px;
        right: 0px;
    }

    .recaptcha {
        right: 60px;
    }

    .footer-wrapper {
        height: 100vh;
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 100px;

        ul {
                    justify-content: center;
            margin: 10px 0;
            padding: 0px;

        }

        li {
            margin: 0 auto;
        }
        .links-list ul li {
            width: auto;
            
        }
        ul li {
            font-size: 12px;
            max-width: 100%;
            a {
                color: white;
                text-decoration: none;
            }
                        color: white;
        }
    }
}