@import 'setup';
@import 'variables';



// 4k and 1440p screens
@media (min-width: 2560px) {

    // header page
    .wrapper {
    width: 3840px;
    max-width: 100%;
    height: 2160px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    header {
        h1 {
            position: relative;
            left: 600px;
        }
        h2 {
            left: 600px;
            width: 500px;
        }

        h3 {
            position: relative;
            left: 600px;
        }
        i {
            position: relative;
            left: 500px;
        }
    }

    
// about page
    .about-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        .about-box {
            margin: 0 auto;
            padding-top: 300px;
            lefT: 250px;
        }
    }




// skills page
    .skills-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-position-x: 3000px;
    }

    .skills-list {
        padding-top: 500px;
    }



// projects page
    .projects-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-image: none;

        h1 {
            bottom: 1600px;
            left: 500px;
        }
        
        .carousel {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        width: 3840px;
        height: 2160px;
        }
    }


// contact page
    .contact-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        background-size: 28%;
    }


// footer page
    .footer-wrapper {
        max-width: 3840px;
        width: 100%;
        height: 1080px;
    }
}




@media (max-width: 1281px) {

    // header page
    .wrapper {
    width: 1280px;
    max-width: 100%;
    height: 720px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    // header {
    //     h1 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     h2 {
    //         left: 600px;
    //         width: 500px;
    //     }

    //     h3 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     i {
    //         position: relative;
    //         left: 500px;
    //     }
    // }

    h3 {
        position: relative;
        bottom: 50px;
    }

    
// about page
    .about-page {
        max-width: 1280px;
        width: 100%;
        height: 720px;
        .about-box {
            margin: 0 auto;
            lefT: 0px;
        }
    }




// skills page
    .skills-page {
    max-width: 1280px;
    width: 100%;
    height: 920px;
    }

    .skills-list {
        img {
            width:400px;
            height: 300px;
        }
    }



// projects page
    .projects-page {
    max-width: 1280px;
    width: 100%;
    height: 1220px;
    background-image: none;

        h1 {
            bottom: 900px;
            left: 50px;
            font-size: 45px;
        }

        h2 {
        }
        
        .carousel {
        max-width: 1280px;
        width: 100%;
        height: 1220px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        width: 1280px;
        height: 720px;
        }
    }


// contact page
    .contact-page {
        max-width: 1280px;
        width: 100%;
        height: 920px;
        background-size: 15%;

    }


// footer page
    .footer-wrapper {
        max-width: 1280px;
        width: 100%;
        height: 520px;
    }
}

@media (max-width: 750px) {
    .wrapper {
        max-width: 750px;
        width: 100%;
        height: 480px;
        
    }
    .skills-page {
    max-width: 750px;
    width: 100%;
    height: 480px;
    }

    .projects-page {
    max-width: 750px;
    width: 100%;
    height: 480px;
    background-image: none;

        h1 {
            // bottom: 1600px;
            // left: 500px;
        }
        
        .carousel {
        max-width: 750px;
        width: 100%;
        height: 480px;
        }
        .project-1, .project-2, .project-3 {
        width: 750px;
        height: 480px;
        }
}
}