@import 'setup';
@import 'variables';



// 4k and 1440p screens
@media (min-width: 2560px) {

    // header page
    .wrapper {
    width: 3840px;
    max-width: 100%;
    height: 2160px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    header {
        h1 {
            position: relative;
            left: 600px;
        }
        h2 {
            left: 600px;
            width: 500px;
        }

        h3 {
            position: relative;
            left: 600px;
        }
        i {
            position: relative;
            left: 500px;
        }
    }

    
// about page
    .about-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        .about-box {
            margin: 0 auto;
            padding-top: 300px;
            lefT: 250px;
        }
    }




// skills page
    .skills-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-position-x: 3000px;
    }

    .skills-list {
        padding-top: 500px;
    }



// projects page
    .projects-page {
    max-width: 3840px;
    width: 100%;
    height: 2160px;
    background-image: none;

        h1 {
            bottom: 1600px;
            left: 500px;
        }
        
        .carousel {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        width: 3840px;
        height: 2160px;
        }
    }


// contact page
    .contact-page {
        max-width: 3840px;
        width: 100%;
        height: 2160px;
        background-size: 28%;
    }


// footer page
    .footer-wrapper {
        max-width: 3840px;
        width: 100%;
        height: 1080px;
    }
}




@media (max-width: 1281px) {

    // header page
    .wrapper {
    width: 1280px;
    max-width: 100%;
    height: 720px;
    margin: 0 auto;
    padding: 15% 120px;
    }

    header {
        i {
            position: relative;
            right: 50px;
            top: 100px;
            font-size: 15px;
        }

        h1 {
            font-size: 55px;
        }
        
        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 15px;
        }
    }

    // header {
    //     h1 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     h2 {
    //         left: 600px;
    //         width: 500px;
    //     }

    //     h3 {
    //         position: relative;
    //         left: 600px;
    //     }
    //     i {
    //         position: relative;
    //         left: 500px;
    //     }
    // }

    h3 {
        position: relative;
        bottom: 50px;
    }

    
// about page
    .about-page {
        max-width: 1280px;
        width: 100%;
        height: 720px;

        h1 {
            font-size: 55px;
        }
        p {
            font-size: 15px;
            width: 700px;
            margin:0 auto;
            padding-top: 50px;
        }
        .about-box {
            margin: 0 auto;
            lefT: 0px;
            padding-top: 0px;
            .about-pic {
                width: 300px;
                position: relative;
                right: 50px;
                opacity: 1;
            }
        }
        .scroll-headers {
            
        }
        .scroll-headers.active {
            animation: none;
        }
    }




// skills page
    .skills-page {
    max-width: 1280px;
    width: 100%;
    height: 920px;

        h1 {
            font-size: 55px;
        }
    }

    .skills-list {
        img {
            width:400px;
            height: 300px;
        }
    }



// projects page
    .projects-page {
    max-width: 1280px;
    width: 100%;
    height: 720px;
    background-image: none;

        h1 {
            bottom: 550px;
            right: 180px;
            font-size: 45px;
        }

        h2 {
            top: 0px;
            font-size: 25px;
            padding-top: 200px;
        }
        h3 {
            top: 0px;
            font-size: 10px;
        }
        
        .carousel {
        max-width: 1280px;
        width: 100%;
        height: 720px;
        }

        .button-previous, .button-next {
            top: 400px;
        }
        .carousel-images {
            position: relative;
            bottom: 160px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        padding-top: 350px;
        width: 1280px;
        height: 1220px;
        position: relative;
            img {
                width: 450px;
                height: 300px;
            }
        }
        .skills-used {
            position: relative;
            bottom: 40px;
            i {
                font-size: 35px;
            }
        }

        .live-repo-links {
            position: relative;
            bottom: 100px;
        }
    }


// contact page
    .contact-page {
        max-width: 1280px;
        width: 100%;
        height: 720px;
        background-size: 15%;

        h1 {
            font-size: 55px;
        }

        .contact-wrapper {
            width: 1280px;
            height: 720px;
        }

        input[type=text] {
            font-size: 15px;
        }

        textarea[type=text] {
            font-size: 15px;
            margin-top: -30px;
        }

        .send-button {
            top: 0px;
        }

        .upload-file {
            font-size: 10px;
            right: 150px;
        }
    }


// footer page
    .footer-wrapper {
        max-width: 1280px;
        width: 100%;
        height: 520px;
    }
}









@media (max-width: 780px) {
    .wrapper {
        max-width: 780px;
        width: 100%;
        height: 700px;
    }

    header {
        h1 {
            font-size: 65px;
            width: 600px;
        }
        background-position-y: 100px;
    }
    .skills-page {
    max-width: 780px;
    width: 100%;
        height: 700px;
    }

    .projects-page {
        max-width: 780px;
    width: 100%;
        height: 700px;
    background-image: none;

        h1 {
            // bottom: 1600px;
            // left: 500px;
        }
        
        .carousel {
        max-width: 780px;
        width: 100%;
        height: 700px;
        }
        .project-1, .project-2, .project-3 {
        max-width: 780px;
        height: 900px;
        }
}
}


@media (max-width: 580px) {
    * {
        animation: none;
    }

    header {
        background-size: cover;
        background-position-x: -500px;
        background-position-y: 10px;
        animation: none;
        h1 {
            animation: none;
        }
        h2 {
            animation: none;
        }
        h3 {
            animation: none;
        }
        h1 {
        font-size: 25px;
        position: relative;
        right: 100px;
        width: 300px;
    }
    
    h2 {
        font-size: 10px;
        top: 20px;
        right: 100px;
    }
    h3{
        font-size: 10px;
        top: 20px;
        right: 100px;
        width: 200px;
    }
    i {
            position: relative;
            right: 100px;
        }
    }

    .social-icons {
        display: flex;
        li {
            margin: 10px 30px;
        }

    }
    .wrapper {
    width: 580px;
    max-width: 100%;
    height: 1240px;
    margin: 0 auto;
    padding: 15% 120px;
    }


    .about-page {
        max-width: 580px;
        width: 100%;
        height: 1240px;
        animation: none;
        
        .scroll-headers.active {
            transform: none;
        }

        .scroll-headers {
            transform: none;
            transition: none;
        }
        h1 {
            font-size: 20px;
            right: 0px;
            left: 0px;
            padding-top: 50px;
            width: 150px;
        }
        p {
            font-size: 10px;
            width: 300px;
            padding-top: 27px;
            padding: 15px;
        }
        .about-box {
            padding-top: 0px;
            display: inline-block;
            margin: 0 auto;
            animation: none;
            opacity: 1;
            flex-direction: column;
            width: auto;
            justify-content: center;
            .about-pic {
                width: 200px;
                margin: 0 auto;
                left: 50px;
            }

            .scroll-headers {
                display: inline-block;

            }
        }
    }

    .scroll-headers {
        display: none;
    }

     .skills-page {
    max-width: 580px;
    width: 100%;
    height: 1240px;
    h1 {
        font-size: 20px;
        left: 25px;
            width: 150px;
    }

    i {
        font-size: 25px;
    }
    }

    .skills-list {
        opacity: 1;
        width: 350px;
        padding: 25px;
        margin: -10px;
        li {
            margin: 0 auto;
            padding: 10px;
            span {
                font-size: 10px;
            }
        }
    }

    // projects page
    .projects-page {
    max-width: 580px;
    width: 100%;
    height: 1240px;
    background-image: none;
    h1 {
        font-size: 20px;
        left: 15px;
        top: 100px;
                    width: 150px;
    }
            h2 {
            font-size: 25px;
            top: 60px;
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            font-size: 10px;
            position: relative;
            top: 50px;
            font-weight: normal;
            width: 200px;
            left: 0px;

        }

        // h1 {
        //     bottom: 1600px;
        //     left: 500px;
        // }
        
        .carousel {
        max-width: 580px;
        width: 100%;
        height: 1240px;
        }

        .carousel-images {
            width: 580px;
        }
        .skills-used {
            display: flex;
            flex-direction: row;
            span {
                font-size: 10px;
                padding: 0px;
            }
        }

        .live-repo-links {
            bottom: 120px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        width: 780px;
        height: 1600px;
        ul {
            position: relative;
            right: 20px;
            width: 300px;
            li {
                padding: 0px;
            }
        }
        i {
            font-size: 20px;
        }

        img {
            width: 440px;
            height: 310px;
            position: relative;
            right: 5px;
        }

        }
                .button-previous {
            left: 1px;
            top: 500px;
        }
            .button-next {
                right: 1px;
                top: 500px;
            }

    }


    // contact page
    .contact-page {
        max-width: 580px;
        width: 100%;
        height: 1240px;
        h1 {
            font-size: 20px;
            left: 25px;
            width: 100px;
                        width: 150px;
        }

        input[type=text] {
            right: 0px;
        }

        textarea[type=text] {
            width: 300px;
        }

        .upload-file {
            right: 50px;
        }

        .send-button {
            left: 90px;
        }

        .contact-icons {
            display: none;
        }
        // background-size: 28%;
    }

    // footer page
    .footer-wrapper {
        max-width: 580px;
        width: 100%;
        height: 1240px;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }
}




@media (max-width: 375px) {


    * {
        animation: none;
    }

    header {
        background-size: cover;
        animation: none;
        h1 {
            animation: none;
        }
        h2 {
            animation: none;
        }
        h3 {
            animation: none;
        }

    }
    
    // header page
    .wrapper {
    width: 375px;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 15% 120px;
    }


    header {

        background-position-x: -400px;

    h1 {
        font-size: 25px;
        position: relative;
        right: 100px;
        width: 300px;
    }
    
    h2 {
        font-size: 10px;
        top: 20px;
        right: 100px;
        width: 300px;
    }
    h3{
        font-size: 10px;
        top: 20px;
        right: 100px;
        width: 200px;
    }

        i {
            position: relative;
            right: 100px;
        }
    }

    .social-icons {
        display: flex;
        li {
            margin: 10px 30px;
        }
    }
    
// about page
    .about-page {
    width: 375px;
        width: 100%;
        height: 600px;
        animation: none;
        
        .scroll-headers.active {
            transform: none;
        }

        .scroll-headers {
            transform: none;
            transition: none;
        }
        h1 {
            font-size: 20px;
            right: 0px;
            padding-top: 50px;
            width: 150px;
        }
        p {
            font-size: 10px;
            width: 300px;
            padding-top: 27px;
            padding: 15px;
        }
        .about-box {
            padding-top: 0px;
            display: inline-block;
            margin: 0 auto;
            animation: none;
            opacity: 1;
            flex-direction: column;
            width: auto;
            justify-content: center;
            .about-pic {
                width: 200px;
                margin: 0 auto;
                left: 50px;
            }

            .scroll-headers {
                display: inline-block;

            }
        }
    }

    .scroll-headers {
        display: none;
    }




// skills page
    .skills-page {
    width: 375px;
    width: 100%;
    height: 900px;
    h1 {
        font-size: 20px;
        left: 0px;
            width: 150px;
    }

    i {
        font-size: 25px;
    }
    }

    .skills-list {
        opacity: 1;
        width: 350px;
        padding: 25px;
        margin: -30px;
        li {
            margin: 0 auto;
            padding: 10px;
            span {
                font-size: 10px;
            }
        }
    }



// projects page
    .projects-page {
    width: 375px;
    width: 100%;
    height: 600px;
    background-image: none;
    h1 {
        font-size: 20px;
        left: 15px;
        bottom: 550px;
    }
            h2 {
            font-size: 25px;
            top: 60px;
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            font-size: 10px;
            position: relative;
            top: 50px;
            font-weight: normal;
            width: 200px;
            left: 0px;

        }

        // h1 {
        //     bottom: 1600px;
        //     left: 500px;
        // }
        
        .carousel {
    width: 375px;
        width: 100%;
        height: 600px;
        }

        .carousel-images {
    width: 375px;
        }
        // .skills-used {
        //     display: flex;
        //     flex-direction: row;
        //     width: 150px;
        //     span {
        //         font-size: 10px;
        //         padding: 0px;
        //     }
        // }

        .live-repo-links {
            bottom: 120px;
        }
        .project-1, .project-2, .project-3, .project-4 {
    width: 375px;
        height: 1000px;
        ul {
            position: relative;
            right: 20px;
            width: 200px;
            li {
                padding: 0px;
            }
        }
        i {
            font-size: 20px;
        }

        a {
            width: 375px;
        }

        img {
            width: 200px;
            height: 160px;
            position: relative;
            right: -15px;
        }

        }
                .button-previous {
            left: 1px;
            top: 300px;
        }
            .button-next {
                right: 1px;
                top: 300px;
            }

    }


// contact page
    .contact-page {
    width: 375px;
        width: 100%;
        height: 600px;
        h1 {
            font-size: 20px;
            left: 25px;
            width: 100px;
        }

        input[type=text] {
            right: 0px;
        }

        textarea[type=text] {
            width: 300px;
        }

        .upload-file {
            right: 50px;
        }

        .send-button {
            left: 90px;
        }

        .contact-icons {
            display: none;
        }
        // background-size: 28%;
    }


// footer page
    .footer-wrapper {
    width: 375px;
        width: 100%;
        height: 900px;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }
}






@media (max-width: 321px) {


    * {
        animation: none;
    }

    header {
        background-size: cover;
        animation: none;
        h1 {
            animation: none;
        }
        h2 {
            animation: none;
        }
        h3 {
            animation: none;
        }

    }
    
    // header page
    .wrapper {
    width: 320px;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 15% 120px;
    }


    header {

        background-position-x: -400px;

    h1 {
        font-size: 25px;
        position: relative;
        right: 100px;
        width: 300px;
    }
    
    h2 {
        font-size: 10px;
        top: 20px;
        right: 100px;
        width: 300px;
    }
    h3{
        font-size: 10px;
        top: 20px;
        right: 100px;
        width: 200px;
    }

        i {
            position: relative;
            right: 100px;
        }
    }

    .social-icons {
        display: flex;
        li {
            margin: 10px 30px;
        }
    }
    
// about page
    .about-page {
        max-width: 320px;
        width: 100%;
        height: 600px;
        animation: none;
        
        .scroll-headers.active {
            transform: none;
        }

        .scroll-headers {
            transform: none;
            transition: none;
        }
        h1 {
            font-size: 20px;
            right: 0px;
            padding-top: 50px;
            width: 150px;
        }
        p {
            font-size: 10px;
            width: 300px;
            padding-top: 27px;
            padding: 15px;
        }
        .about-box {
            padding-top: 0px;
            display: inline-block;
            margin: 0 auto;
            animation: none;
            opacity: 1;
            flex-direction: column;
            width: auto;
            justify-content: center;
            .about-pic {
                width: 200px;
                margin: 0 auto;
                left: 50px;
            }

            .scroll-headers {
                display: inline-block;

            }
        }
    }

    .scroll-headers {
        display: none;
    }




// skills page
    .skills-page {
    max-width: 320px;
    width: 100%;
    height: 900px;
    h1 {
        font-size: 20px;
        left: 0px;
            width: 150px;
    }

    i {
        font-size: 25px;
    }
    }

    .skills-list {
        opacity: 1;
        width: 350px;
        padding: 25px;
        margin: -30px;
        li {
            margin: 0 auto;
            padding: 10px;
            span {
                font-size: 10px;
            }
        }
    }



// projects page
    .projects-page {
    max-width: 320px;
    width: 100%;
    height: 600px;
    background-image: none;
    h1 {
        font-size: 20px;
        left: 15px;
        bottom: 550px;
    }
            h2 {
            font-size: 25px;
            top: 60px;
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            font-size: 10px;
            position: relative;
            top: 50px;
            font-weight: normal;
            width: 200px;
            left: 0px;

        }

        // h1 {
        //     bottom: 1600px;
        //     left: 500px;
        // }
        
        .carousel {
        max-width: 320px;
        width: 100%;
        height: 600px;
        }

        .carousel-images {
            width: 320px;
        }
        .skills-used {
            display: flex;
            flex-direction: row;
            span {
                font-size: 10px;
                padding: 0px;
            }
        }

        .live-repo-links {
            bottom: 120px;
        }
        .project-1, .project-2, .project-3, .project-4 {
        width: 320px;
        height: 1000px;
        ul {
            position: relative;
            right: 20px;
            width: 300px;
            li {
                padding: 0px;
            }
        }
        i {
            font-size: 20px;
        }

        a {
            width: 320px;
        }

        img {
            width: 200px;
            height: 160px;
            position: relative;
            right: 5px;
        }

        }
                .button-previous {
            left: 1px;
            top: 300px;
        }
            .button-next {
                right: 1px;
                top: 300px;
            }

    }


// contact page
    .contact-page {
        max-width: 320px;
        width: 100%;
        height: 600px;
        h1 {
            font-size: 20px;
            left: 25px;
            width: 100px;
        }

        input[type=text] {
            right: 0px;
        }

        textarea[type=text] {
            width: 300px;
        }

        .upload-file {
            right: 50px;
        }

        .send-button {
            left: 90px;
        }

        .contact-icons {
            display: none;
        }
        // background-size: 28%;
    }


// footer page
    .footer-wrapper {
        max-width: 320px;
        width: 100%;
        height: 900px;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }
}